<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030263226650-goet9h8n6qrlju16lblas807h9e9laeh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030263226650-goet9h8n6qrlju16lblas807h9e9laeh</string>
	<key>API_KEY</key>
	<string>AIzaSyAOw1BrsvtvQGIS1mSG4fnpVQNl5LIZo9I</string>
	<key>GCM_SENDER_ID</key>
	<string>1030263226650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-88903</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-88903.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030263226650:ios:8cf33a47d06172753d2ca3</string>
</dict>
</plist>